//////////////////////////////////
// A. Laszlo Lazuer
// Visa Interview Test
// www.visa.com Primary Navigation
// _breakpoints.scss
//////////////////////////////////

//Big tablet to 1200px (widths smaller than the 1140px row)
@media only screen and (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }

  .mobile-menu-btn {
    display: none;
  }

  .logo {
    margin-left: 3rem;
    padding-left: 1.5rem;
    padding-right: 0;
    padding-top: 1.5rem;

    & img {
      height: 4rem;
      margin-top: .5rem;
    }
  }

  .center-nav {
    margin: 0;
    margin-right: 0;
    margin-top: .1rem;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 3.5rem;

    & li {
      font-size: 1.9rem;
      margin: 1.5rem 0 2.5rem;

      & a {
        margin: 0;
        padding: 1.9rem;
      }
    }
  }

  .nav-right {
    margin-left: -2rem;
    margin-top: .6rem;
    padding-bottom: 0;
    padding-right: 4.6rem;
    padding-top: 1rem;

    & .sep-line {
      height: 4.5rem;
      margin: 0 2.9rem 0 0;
    }

    & .search-btn {
      font-size: 4.2rem;
      margin-left: -.2rem;
      margin-top: 2.2rem;
      padding-top: 0;

      & a {
        cursor: pointer;
        display: inline-block;
      }
    }
  }
  .navline {
    height: .5rem;
  }
}

//Big tablet to 1200px (widths smaller than the 1140px row)
@media only screen and (max-width: 1199px) {
  .mobile-nav {
    display: none;
  }

  .mobile-menu-btn {
    display: none;
  }

  .logo {
    margin-left: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;

    & img {
      height: 3.2rem;
      margin-top: .5rem;
    }
  }

  .center-nav {
    margin: 0;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: .1rem;
    padding: .5rem 0;
    padding-bottom: 1rem;

    & li {
      font-size: 1.9rem;
      margin: 1.5rem 0 1.5rem;

      & a {
        margin: 0;
        padding: 1.4rem;
      }
    }



  }

  .nav-right {
    margin-left: -2rem;
    margin-right: 3.5rem;
    margin-top: 1rem;
    padding-bottom: 0;
    padding-top: .5rem;

    & .sep-line {
      height: 4.1rem;
      margin: 0 2.5rem 0 1rem;
      padding-top: 1rem;
    }

    & .search-btn {
      font-size: 3.6rem;
      margin-left: -.2rem;
      margin-top: 1.5rem;
      padding-top: 0;
      vertical-align: top;

      & a {
        cursor: pointer;
        display: inline-block;
      }
    }
  }
}

//Small tablet to big tablet: from 768px to 1024px
@media screen and (max-width: 992px) {
  .logo {
    margin-left: 1.5rem;
    margin-right: auto;
    padding: 1.3rem 1.5rem 0 1.2rem;

    & img {
      height: 2.5rem;
      margin-top: .5rem;
    }
  }

  .center-nav {
    margin: 0;
    padding: .5rem 0;
    padding-right: 2rem;

    & li {
      font-size: 1.4rem;
      margin: 1.5rem .35rem 1.7rem 0;

      & a {
        margin: 0;
        padding: 1.5rem .6rem;
      }
    }
  }

  .nav-right {
    margin-right: 3.1rem;
    margin-top: .7rem;
    padding-bottom: 0;
    padding-top: .5rem;

    & .sep-line {
      height: 3.3rem;
      margin: 0 1rem;
      padding-top: 0;
    }

    & .search-btn {
      font-size: 3rem;
      margin-left: 0;
      margin-top: 1.3rem;

      & a {
        cursor: pointer;
        display: inline-block;
      }
    }
  }
  .navline {
    height: .4rem;
  }
}


//Small phones to small tablets: from 481 to 767px
@media only screen and (max-width: 767px) {
  .navigation { border-radius: 0;}
  .main-nav {display: none;}

  .center-nav {
    display: none;
  }

  .mobile-menu-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .flex-container {
    justify-content: space-between;
  }

  // Slide out menu styles Mobile
  .mobile-nav {
    background: $mobile-nav-background-color-white;
    font-size: 2.4rem;
    height: auto;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: .75rem 1.5rem 0;
    position: relative;
    width: 100%;

    & li {
      border-bottom: .1rem solid $mobile-nav-separator-gray;
      padding: 3rem;

      & a:link,
      & a:visited {
        color: $mobile-font-color;
        text-decoration: none;
      }

    }
  }

  .dropdown-mobile {
    &::after {
      -webkit-font-smoothing: antialiased;
      content: '\e807b';
      font-family: $visa-icon-font;
      left: 0;
      padding-left: 1rem;
      position: absolute;
    }
  }

  .logo {
    margin: 0 0 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: .5rem;

    & a {
      display: block;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 1.3rem;
    }
  }

  .nav-right {
    border: 1px solid transparent;
    margin-right: 0;
    margin-top: .4rem;
    padding: 1.2rem 1rem .6rem;

    & .mobile-nav-icon {
      display: inline-block;
      padding-top: 0;
    }

    & .sep-line {
      height: 2.5rem;
      margin: 0 0 0 1rem;
    }

    & .search-btn {
      margin-top: .7rem;

      & a {
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  .navline {
    height: .35rem;
  }
  .mobile-nav {
    background-color: transparent;
  }
}

/*Small phones from 0 -> 480px*/
@media only screen and (max-width: 480px) {
  .logo {
    & a {
      padding-bottom: .5rem;
    }
  }
  .mobile-nav {
    background-color: transparent;
  }
}
