@font-face {
  font-family: 'myriad-light';
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/766775/myriad-light-webfont.woff);  //Font-squirrel'd the font for now
}

@font-face{
  font-family:"visaFont";
  src:url('../../vendor/css/visaFont.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
