//////////////////////////////////
// A. Laszlo Lazuer
// Visa Interview Test
// www.visa.com Primary Navigation
// _breakpoints.scss
//////////////////////////////////

//Variables
$testing-colors: #fff;
$mobile-font-color: rgb(26, 31, 113); //Variable for Font Colors
$mobile-nav-separator-gray: #dedede;
$mobile-nav-background-color-white: #fff;
$visa-icon-font: visaFont;


//Icons
$close-icon: '\e810';
$search-icon: '\e827';

//Colors
$visa-blue-dark: #1a1e5a;
$visa-blue-light: #122d98;
$visa-gold: #f7b600;

//Nav Colors
$nav-background-gradient: linear-gradient(45deg, $visa-blue-dark 0, $visa-blue-light 100%);
$nav-center-link-color: rgba(255, 255, 255, .85);
$nav-right-vertical-separator-color: rgba(255, 255, 255, .25);
