// Orange Color: #e67e22

//First thing to do
// Basic Setup
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;//white
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif; //Define the backup fonts as well
  font-size: 20px;
  font-weight: 300; //Default font-weight definition
  overflow-x: hidden;
  text-rendering: optimizeLegibility; //Makes fonts render perfectly
}

//Learn clearfix
//If using floats they must be cleared

.clearfix {
  zoom: 1;

  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}


// Reusable Components
.row {
  margin: 0 auto; //Shorthand Center
  max-width: 1140px;
}

section {
  padding: 80px 0;
}


h1,
h2 {
  font-weight: 300; //Larger text should be lighter
  letter-spacing: 1px; //Not so compressed
  text-transform: uppercase; //Caps
}

h1 {
  color: #fff;
  font-size: 240%; //Double the base font-size
  margin: 0; //Normalize will add a margin
  margin-bottom: 20px;
  word-spacing: 4px; //Modern Look
}

h2 {
  font-size: 180%;
  margin-bottom: 30px;
  text-align: center;
  word-spacing: 2px;

  &::after {
    background-color: #e67e22;
    content: ' ';  //Research why it is a space
    display: block;
    height: 2px;
    margin: 30px auto;
    width: 100px;
  }
}


//Paragraphs
.long-copy {  //Research
  line-height: 145%;
  margin-left: 15%;
  width: 70%;
}

//Icons
.icon-big {
  color: #e67e22;
  display: block;
  font-size: 400%;
  margin-bottom: 10px;
}


// Buttons
//Block and inline elements
//Inline-block is like inline with padding & margin
//Does not force a line-break unlike inline element
//<a> is an inline so we'll make it inline-block

.btn {
  &:link,
  &:visited {
    border-radius: 200px;
    display: inline-block;
    font-weight: 300;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color .2s, border .2s, color .2s;
  }

&:hover,
  &:active {
    background-color: #cf6d17;
  }
}


.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}



.btn-ghost {
  &:link,
  &:visited {
    border: 1px solid #e67e22;
    color:#e67e22;
  }

  &:hover,
  &:active {
    border: 1px solid #cf6d17;
    color: #fff;
  }

}



// Header
header {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./img/austin/austin_skyline_Neff.jpg'); //Make image darker linear gradient
  background-position: center;//lookup
  background-size: cover;//Lookup
  height: 100vh;
}

.hero-text-box {
  left: 50%;
  position: absolute; //Allows Vertical/Horz centering
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1140px; //Looks like a row, but abs positioned
}

.logo {
  border-radius: 50%;
  float: left;
  height: 100px;
  margin-top: 20px;
  transform: scale(1.2);
  width: auto;
}

.logo-black {
  display: none;
  float: left;
  height: 50px;
  margin: 5px 0;
  width: auto;
}

//Main Navigation
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;

  & li {
    display: inline-block;
    margin-left: 40px;

    & a {
      &:link,
      &:visited {
        border-bottom: 2px solid transparent;
        color: #fff;
        font-size: 90%;
        padding: 8px 0; //???
        text-decoration: none;
        text-transform: uppercase;
        transition: border-bottom .2s;
      }

      &:hover,
      &:active {
        border-bottom: 2px solid #e67e22;
      }
    }
  }
}

// Mobile Navi
.mobile-nav-icon {
  cursor: pointer; //If no href is defined there is no pointer
  display: none; //Hide for Large-up
  float: right;
  margin-top: 30px;

  & i {
    color: #fff;
    font-size: 200%;
  }
}

//Sticky Navigation
// .sticky {
//   position: fixed; //Navigation stays at the same point irrespective of scrolling
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: rgba(255,255,255,0.98);
//   box-shadow: 0 2px 2px #efefef;
// }
//
// .main-nav {margin-top: 18px;}
//
// .sticky .main-nav li a:link,
// .sticky .main-nav li a:visited {
//   padding: 16px 0;
//   color: #555;
// }
//
// .sticky .logo { display: none;}
// .sticky .logo-black {display: block;}

// Features
.section-features {
  & .long-copy {
    margin-bottom: 30px;
  }
}

// Meals
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;  //Research
  width: 100%;

  & li {
    display: block;
    float: left;
    width: 25%;
  }
}


.meal-photo {
  background: #000;
  margin: 0; //Normalize adds some margin
  overflow: hidden;
  width: 100%;

  & img {
    height: auto;
    opacity: .7;
    transform: scale(1.15);
    transition: transform .5s, opacity .5s;
    width: 100%;

    &:hover {
      opacity: 1;
      transform: scale(1.03);
    }
  }
}

// HOW IT WORKS
.section-steps {
  background-color: #f4f4f4;
}

.steps-box { //Refresh on this
  &:first-child {
    margin-top: 30px;
    padding: 3%;
    text-align: right;
  }

  &:last-child {
    margin-top: 70px;
    padding-left: 3%;
  }
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 80px;
  }

  & div {
    border: 2px solid #e67e22;
    border-radius: 50%;
    color: #e67e22;
    display: inline-block;
    float: left;
    font-size: 150%;
    height: 55px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    width: 55px;
  }
}

.btn-app {
  & img {
    height: 50px;
    margin-right: 10px;
    width: auto;
  }
}
