@font-face {
  font-family: 'myriad-light';
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/766775/myriad-light-webfont.woff); }
@font-face {
  font-family: "visaFont";
  src: url("../../vendor/css/visaFont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html,
body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'myriad-light', Tahoma, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

a {
  cursor: pointer; }

img {
  display: inline-block; }

.flex-container {
  background-image: linear-gradient(45deg, #1a1e5a 0, #122d98 100%);
  display: flex;
  height: auto;
  justify-content: space-between; }

nav {
  min-height: 50px; }

.logo {
  height: auto;
  order: 1; }
  .logo a {
    cursor: pointer; }
  .logo img {
    display: inline;
    height: 4rem;
    margin-top: 20px;
    width: auto; }

.center-nav {
  order: 2;
  padding: 18px 0; }
  .center-nav li {
    display: inline-block;
    font-size: 1.9rem;
    margin: 2rem 1rem;
    padding-top: 15px 0; }
    .center-nav li a {
      margin-left: 30px;
      padding: 15px 20px; }
    .center-nav li a:link, .center-nav li a:visited {
      color: rgba(255, 255, 255, 0.85);
      text-decoration: none; }
    .center-nav li a:hover, .center-nav li a:active {
      color: #F7B602; }

.mobile-nav {
  list-style: none; }

.nav-right {
  color: #f7b600;
  font-size: 3rem;
  line-height: 1rem;
  margin-left: 20px;
  order: 3;
  padding: 18px 0;
  padding-top: 1.2rem; }
  .nav-right a {
    text-decoration: none; }
  .nav-right .search-btn, .nav-right .mobile-menu-btn {
    -webkit-font-smoothing: antialiased;
    color: #f7b600;
    font-family: visaFont;
    font-size: 3rem;
    line-height: 1rem;
    margin-left: 20px;
    padding-top: 1.2rem; }
  .nav-right .sep-line {
    background-color: rgba(255, 255, 255, 0.25);
    display: inline-block;
    height: 4.5rem;
    margin-left: 1.5rem;
    margin-right: 3rem;
    top: -3px;
    width: 1px; }
  .nav-right .search-btn::before {
    content: "\e827"; }
  .nav-right .mobile-menu-btn {
    color: #fff;
    height: 3rem;
    font-weight: lighter; }
    .nav-right .mobile-menu-btn a {
      text-decoration: none; }
    .nav-right .mobile-menu-btn::before {
      font-family: visaFont;
      content: "\e800"; }
  .nav-right .mobile-menu-close-btn {
    color: #fff;
    height: 3rem;
    font-weight: lighter; }
    .nav-right .mobile-menu-close-btn a {
      text-decoration: none; }
    .nav-right .mobile-menu-close-btn::before {
      -webkit-font-smoothing: antialiased;
      font-family: visaFont;
      content: "\e810"; }

.nav-indicator-bar {
  background-image: linear-gradient(45deg, #FA9B01 0, #F2CA13 100%);
  color: #f00;
  height: 5px;
  position: relative;
  width: 100%; }

[role='button'] {
  cursor: pointer; }

/*Media Queries*/
/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (min-width: 1200px) {
  .logo {
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 1.5rem; }
    .logo img {
      height: 2.5rem;
      margin-top: .5rem; }

  .center-nav {
    padding: .5rem 0;
    margin: 0; }

  .center-nav li {
    font-size: 1.4rem;
    margin: 1.5rem 0 1.7rem 0; }
    .center-nav li a {
      padding: 1.5rem .9rem;
      margin: 0; }

  .nav-right {
    padding-bottom: 0;
    padding-top: .8rem;
    margin-right: 3.8rem;
    margin-left: -2rem; }
    .nav-right .sep-line {
      height: 3.3rem;
      margin: .4rem 1.5rem 0 1.5rem; }
    .nav-right .search-btn {
      margin-left: 0;
      display: inline-block;
      font-size: 3rem;
      margin-top: -2rem; }

  .mobile-nav {
    display: none; }

  .mobile-menu-btn {
    display: none; }

  .center-nav {
    font-size: 2rem; }

  .search-btn {
    font-size: 4.2rem; }

  .mobile-menu-btn {
    display: none; } }
/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
  .logo {
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 1.5rem; }
    .logo img {
      height: 2.5rem;
      margin-top: .5rem; }

  .center-nav {
    padding: .5rem 0;
    margin: 0; }

  .center-nav li {
    font-size: 1.4rem;
    margin: 1.5rem 0 1.7rem 0; }
    .center-nav li a {
      padding: 1.5rem .9rem;
      margin: 0; }

  .nav-right {
    padding-bottom: 0;
    padding-top: .8rem;
    margin-right: 3.8rem;
    margin-left: -2rem; }
    .nav-right .sep-line {
      height: 3.3rem;
      margin: .4rem 1.5rem 0 1.5rem; }
    .nav-right .search-btn {
      margin-left: 0;
      display: inline-block;
      font-size: 3rem;
      margin-top: -2rem; }

  .mobile-nav {
    display: none; }

  .mobile-menu-btn {
    display: none; }

  .logo {
    padding-top: .5rem; }

  .center-nav li {
    font-size: 1.9rem; }

  .search-btn {
    font-size: 3.6rem; }

  .mobile-menu-btn {
    display: none; } }
/*Small tablet to big tablet: from 768px to 1024px*/
@media screen and (max-width: 992px) {
  .logo {
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 1.5rem; }
    .logo img {
      height: 2.5rem;
      margin-top: .5rem; }

  .center-nav {
    padding: .5rem 0;
    margin: 0; }

  .center-nav li {
    font-size: 1.4rem;
    margin: 1.5rem 0 1.7rem 0; }
    .center-nav li a {
      padding: 1.5rem .9rem;
      margin: 0; }

  .nav-right {
    padding-bottom: 0;
    padding-top: .8rem;
    margin-right: 3.8rem;
    margin-left: -2rem; }
    .nav-right .sep-line {
      height: 3.3rem;
      margin: .4rem 1.5rem 0 1.5rem; }
    .nav-right .search-btn {
      margin-left: 0;
      display: inline-block;
      font-size: 3rem;
      margin-top: -2rem; }

  .mobile-nav {
    display: none; }

  .mobile-menu-btn {
    display: none; } }
/*Small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width: 767px) {
  .navigation {
    border-radius: 0; }

  .main-nav {
    display: none; }

  .nav-right {
    padding: 1.2rem 1rem .6rem 1rem; }

  .center-nav {
    display: none; }

  .logo {
    margin: 1.2rem 0 0 1.5rem; }
    .logo img {
      height: 2.5rem; }

  .mobile-menu-btn {
    margin: 0;
    padding: 0; }

  .nav-right .sep-line {
    height: 2.5rem; }

  .flex-container {
    justify-content: space-between; }

  .mobile-nav {
    background: #aaf;
    margin-top: 0;
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 0;
    margin-right: 0; }

  .mobile-nav li {
    font-size: 1.4rem;
    font-size: 2.4rem; }
    .mobile-nav li a:link, .mobile-nav li a:visited {
      color: #1a1f71;
      text-decoration: none; }

  .mobile-menu-btn {
    display: inline-block; }

  .mobile-nav {
    padding-top: .75rem;
    padding: 0 1.5rem; }

  .mobile-nav li {
    border-bottom: .1rem solid #dedede;
    padding: 3rem;
    padding-left: 5.5rem; }
    .mobile-nav li > .dropdown-mobile {
      padding-left: 3rem; }

  .dropdown-mobile {
    padding-left: 3rem; }
    .dropdown-mobile::before {
      -webkit-font-smoothing: antialiased;
      font-family: visaFont;
      content: "\e807b"; }

  .logo {
    margin-left: 0;
    margin-top: 0;
    padding-top: 1rem;
    padding-right: 0;
    padding-left: 0; }
    .logo a {
      padding-left: 1.5rem;
      padding-top: 1.3rem;
      padding-right: 1.5rem;
      display: block; }
    .logo img {
      margin-top: 0; }

  .nav-right {
    margin-right: 0;
    margin-top: 1rem;
    border: 1px solid transparent; }
    .nav-right .mobile-nav-icon {
      display: inline-block;
      padding-top: 0; }
    .nav-right .sep-line {
      margin: 0 0 0 1rem; }

  .nav-indicator-bar {
    height: .35rem; } }
/*Small phones from 0 -> 480px*/

/*# sourceMappingURL=styles.css.map */
